.film:hover{
  cursor: pointer;
  outline: 1px solid white;
}
.film{
padding: 10px;
box-sizing: border-box;
}
.p-card-content{
  display: flex;
}
.content{
  margin-right: 20px;
}
.decrip{
  margin-bottom: 10px;
}